<% if user_signed_in? %>

<% else %>

<div class="jumbotron">
  <h1 class="display-3"><%= t('landing.header') %></h1>
  <p class="lead"><%= t('landing.description') %></p>
  <hr class="m-y-2">
  <p class="lead">
    <%= link_to t('landing.buttons.create_account'), new_user_registration_path, class: "btn btn-warning" %>
    <%= link_to t('landing.buttons.login'), new_user_session_path, class: "btn btn-primary" %>


  </p>
</div>


<% end %>


