<div class="card photo-form">
  <div class="card-header color-header">
    <h2><%= t('photos.new_title') %></h2>

  </div>
  <div class="card-block">


<%= render 'form', photo: @photo %>

<%= link_to t('photos.my_photos'), profiles_my_photos_path %>

</div></div>